* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: rgba(255, 69, 0, 0.8);
}
ul {
  list-style-type: none;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: rgba(142, 197, 252, 0.5);
  background-image: linear-gradient(
    62deg,
    rgba(141, 196, 252, 0.5) 0%,
    rgba(224, 195, 252, 0.5) 100%
  );
}

.container {
  // width: 1200px;
  // padding-left: 15px;
  // padding-right: 15px;
  // /* margin: 0 auto; */
  // margin-left: auto;
  // margin-right: auto;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.news-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  //   margin-top: 30px;
}
.news-card {
  width: 350px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 12px;
  background-color: rgba(142, 197, 252, 0.3);
  .news-author {
    text-align: right;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .news-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
  .news-descr {
    display: block;
    margin: 0 auto;
    width: 90%;
    text-align: left;
  }
}

.news-card:hover {
  width: 380px;
  background-color: rgba(142, 197, 252, 0.8);
}
.more-btn {
  display: block;
  margin: 0 auto;
  //   margin-bottom: 30px;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: rgba(142, 197, 252, 0.8);
  font-weight: 700;
}
.more-btn:hover {
  padding: 10px 20px;
  background-color: rgb(89, 161, 233);
  cursor: pointer;
}
header {
  padding-top: 20px;
  padding-bottom: 30px;
}
main {
  padding-bottom: 30px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: flex;
  margin: 0 auto;
  //   justify-content: space-around;
}
.header-item {
  margin-right: 30px;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: rgba(142, 197, 252, 0.8);
  font-weight: 700;
}
.header-item:hover {
  background-color: rgb(89, 161, 233);
  cursor: pointer;
}
.hero {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 30px;
}
.hero-header {
  text-align: center;
  color: rgb(89, 161, 233);
}
